@{
    ViewData["Title"] = "Home";
}

<div class="text-center">
    <br> <br>
    <h1 class="display-4">Welcome to the NBA Players Database</h1>
    <br><br>
    <img class="card" alt="" src="https://blog.eye-forward.com/wp-content/uploads/2015/11/AnthonyDavisshot01_-9-e1447366931992.jpeg">
    <img class="card" alt="" src="https://pbs.twimg.com/media/Dsl0W-QWwAAcFjG.jpg">
    <img class="card" alt="" src="https://i.pinimg.com/originals/11/38/85/113885061edde59db493e3c84e2e1d4d.jpg">
    <img class="card" alt="" src="https://pbs.twimg.com/media/DjVcptCU4AERGg5.jpg">
    <br><br><br><br>
    <p>See all the players <a asp-controller='Players' >here</a>.</p>

</div>
